<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Wisdom}}
{{uc .Name}}
{{uc .Motto}}
{{end}}

{{range .Transport}}
{{uc .Manufacturer}}
{{end}}


{{range .Wisdom}}
{{ft .Name}}
{{ft .Motto}}
{{end}}


</body>
</html>